html, body {
	height: 100%;
	width: 100%;
	z-index: 1;
	margin: 0;
	overflow: hidden;
}

.far_left_letter, .near_left_letter {
	font-size: 55px;
	width: 200px;
	text-align: center;
	font-weight: bold;
}

.far_left_letter.down {
	margin-bottom: 20px;	
}

.near_left_letter {
	font-size: 56px;
}

.near_left_letter:first-child {
	margin-top: 10px;
}
	
.far_left, .near_left {
	position: absolute;
	top: 0;
}
.near_left {
	left: 125px;
}

.near_right, .far_right {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	text-align: center;
	height: 400px;
	line-height: 400px;
	font-size: 125px;
	font-weight: bold;
}

.far_right {
	top: 250px;
	font-size: 75px;
}

.background {
	height: 100%;
	width: 100%;
	background: url("/practice/images/cover.jpg") no-repeat;
	position: absolute;
	top: 0;
	z-index: 0;
	-webkit-background-size: contain;
	left: 25%;
}
