<div class="start">
    <div class="userplace">
        <label for="username">Your age: </label>
        <input type="text" id="username" />
    </div>
    <div class="buttonplace">
        <input type="button" value="OK" class="button"/>
    </div>
</div>