html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none; 
}

canvas {
	position: absolute;
	top: 0;
}
	
#home {
	width: 100%;
	height: 100%;
}

.move_element {
	width: 100%;
	height: 100%;
}
.move_element .add_button {
	background: blue;
	background: -webkit-gradient(linear, left top, left bottom, from(#89c4ff), to(#195bd5));
	background: -moz-linear-gradient(top, #89c4ff, #195bd5);
	border-radius: 7px;
	border: 1px solid blue;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #FFFFFF;
	cursor: pointer;
	
	height: 35px;			
	text-align: center;
	width: 100px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;		
}

.move_element .add_button span {
	font-size: 30px;
	font-weight: bold;
}

.move_element .down {
	background: blue;
	background: -webkit-gradient(linear, left top, left bottom, from(#195bd5), to(#89c4ff));
	background: -moz-linear-gradient(top, #195bd5, #89c4ff);
}

.move_element .window {
	background: blue;
	background: -webkit-gradient(linear, left top, left bottom, from(#195bd5), to(#89c4ff));
	background: -moz-linear-gradient(top, #195bd5, #89c4ff);
	width: 200px;
	height: 150px;
	border-radius: 7px;
	border: 1px solid blue;
	position: absolute;
	top: 10px;
	left: 10px;
}

.incorrect {
	background : red;
}


.app_index_controller {
	background: blue;
	background: -webkit-gradient(linear, left top, left bottom, from(#89c4ff), to(#ffffff));
	background: -moz-linear-gradient(top, #195bd5, #89c4ff);
}

.app_index_controller #registration_form {
	border: 5px solid #067D54;
	display: inline-block;
	left: 50%;
	top: 50%;
	margin-left: -236px;
	margin-top: -121px;;
	padding: 20px 40px;
	position: relative;
	height: 200px;
	width: 390px;
	z-index:200;
	background: #195bd5;
	background: -webkit-gradient(linear, left top, left bottom, from(#195bd5), to(#89c4ff));
	background: -moz-linear-gradient(top, #195bd5, #89c4ff);
	border-radius: 7px;
	border: 1px solid blue;
}

.app_index_controller #registration_form label span {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #000066;
}

.app_index_controller #registration_form #singin {
	background: blue;
	background: -webkit-gradient(linear, left top, left bottom, from(#89c4ff), to(#195bd5));
	background: -moz-linear-gradient(top, #89c4ff, #195bd5);
	border-radius: 7px;
	border: 1px solid blue;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;	
	font-weight: bolder;
	color: #FFF;
	cursor: pointer;
	position: relative;
	left: 50%;
	margin-left: -70px;
	margin-top: 10px;;
	height: 35px;			
	text-align: center;
	width: 140px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;	
}

.app_index_controller #registration_form #singin div {
	margin-top: 5px;
}