<div id="aplication_cache_size">
	<div id="header">
		<div class="topic"><%= title %></div>
	</div>
	<div class="content">
		<%= content %>
		<img src="img/size.jpg" width="60%">
	</div>	
	<div id="orange_line"></div>
	<div id="blue_line_bottom"></div>
	<div id="footer"></div>
</div>