<div id="aplication_cache_browser_support">
	<div id="header">
		<div class="topic"><%= title %></div>
	</div>
	<div class="content <%= className %>">
	</div>
	<div id="orange_line"></div>
	<div id="blue_line_bottom"></div>
	<div id="footer"></div>
</div>