<div id="offline_web_app_application_cache">
	<div id="header">
		<div class="topic"><%= title %></div>
	</div>
	<div class="content"></div>
	<div id="orange_line"></div>
	<div id="blue_line_bottom"></div>
	<div id="footer"></div>
</div>