<div id="manifest_file_mime_type">
	<div id="header">
		<div class="topic"><%= title %></div>
	</div>
	<div class="content">
		<% _.each(content, function (item) { %>
			<div class="<%= _.keys(item) %>"><%= _.values(item) %></div>
		<% }); %>
		<div class="mime_type"></div>
	</div>	
	<div id="orange_line"></div>
	<div id="blue_line_bottom"></div>	
	<div id="footer"></div>		
</div>