<div id="offline_web_app">
	<div class="header">
		<div class="logo"></div>
	</div>
	<div id="blue_line"></div>
	<div id="gray_line"></div>
	<div id="gray_line_vertical"></div>
	<div id="blue_line_vertical"></div>
	<div class="content">
		<div class="topic"><%= topic %></div>
	</div>
	<div class="footer">
		<div class="name"><%= name %></div>
		<div class="data"><%= data %></div>
	</div>
</div>